@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
:root {
    --dark: #1f1f22;
    --white: #ffffff;
    --light1: #666666;
    --red: #e80c00;

    --font-oswald: 'Oswald', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}
html, body {
    font-size: 16px;
}
.dark {
    color: var(--dark);
}
.white {
    color: var(--white);
}
.light1 {
    color: var(--light1);
}
.red {
    color: var(--red);
}
.font-oswald {
    font-family: var(--font-oswald);
}
.font-roboto {
    font-family: var(--font-roboto);
}
.all-btn {
    background-color: #fff;
    color: #1f1f24;
    font-size: 0.90rem;
    font-weight: 500;
    outline: 1px inset #1f1f24;
    padding: 0.563rem 1.5rem;
    font-family: var(--font-oswald);
    text-decoration: none;
    display: inline-block;
}
.all-btn:hover {
    background: hsla(0, 0%, 100%, .6);
    outline: 1px inset rgba(31, 31, 36, .6);
}

/* ===== TOPBAR ===== */
.topbar {
    height: 48px;
    background-color: #f2f2f2;
    font-size: 12px;
}

/* ===== HEADER ===== */

header {
    min-height: 66px;
}
header nav ul li a {
    font-weight: 500 !important;
    font-size: 15px !important;
}
header nav a {
    position: relative;
}
header nav a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2.5px;
    width: 100%;
    background-color: black;
    display: none;
}
header nav a:hover::after {
    display: block;
}
.customize-img {
    width: 35px;
}

/* ===== PROMO-STRIPE ===== */
.promo-stripe {
    height: 48px;
    background-color: var(--dark);
    font-size: 15px;
    font-weight: 500;
}
.promo-stripe a {
    text-decoration: none;
}
.promo-stripe:hover a {
    text-decoration: underline;
}

/* ===== MAIN-BANNER ===== */
.main-banner {
    height: 43rem;
    background-image: url(../image/main-banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-banner-bg {
    z-index: -500;
}
/* ===== DISCOUNT-BANNER ===== */
.discount-banner {
    height: 43rem;
    background-image: url('../image/discount-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* ===== SHOP ===== */
.shop .row {
    height: 43rem;
}
.shop-left {
    background-color: #e9e8e4;
    height: 43rem;
    padding-left: 5.8rem;
}
.shop-left div a {
    background-color: rgba(255, 255, 255, .25);
    padding: 25px 15px;
    border: 1px solid white;
}
.shop-left div a img {
    height: 40px;
    width: 60px;
}
.shop-left h2 {
    font-weight: 500;
    line-height: 1.3;
}
.shop-right {
    height: 43rem;
    background-color: #e9e8e4;
}
.shop-right img {
    height: 15.5rem;
}
/* ===== OFF50 ===== */
.off50 {
    height: 43rem;
    background-image: url('../image/off50-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}